html {
   
    font-family: 'Roboto', sans-serif;
    background: rgb(125, 139, 95);
  }
  .nav {
  background-color: greenyellow;
  text-align: center; 
  padding: 10px; 
  } 
  .span{
    color: rgb(122, 219, 18);
    text-align: center;
    font: italic;
    font-size: 35px;
    text-shadow: 0 1px 20 px grey;
    }
  h2 {
      color: rgb(49, 2, 49);
      font-size: 30px;
      text-align: center;
    }
  p.pom {
    color: rgb(8, 5, 59);font-size: 16;
    text-align: left;
  }
  #aug img {
    max-width: 30%;
    size: 30px;
  }
  .footer {
    background-color: greenyellow;
    padding: 10px;
    text-align: center;
    color: rgb(3, 43, 4);
  }